<div class="mt-4" [formGroup]="checkoutFormInput">
  <h4 class="mb-3 p-2">Choose your delivery method</h4>
  <!-- formGroupName is the one in checkout.component.ts created for delivery methods(deliveryForm) -->
  <div class="row ml-5" formGroupName="deliveryForm">
    <div class="col-md-6 form-group" *ngFor="let item of deliveryMethods">
      <!-- formGroupName is the one in checkout.component.ts inside deliveryForm(deliveryMethod) -->
      <input
        type="radio"
        id="{{ item.id }}"
        value="{{ item.id }}"
        formControlName="deliveryMethod"
        class="custom-control-input"
        (click)="setShippingPrice(item)"
      />
      <!-- custom-control-input/label are bootstrap classes -->
      <label for="{{ item.id }}" class="custom-control-label">
        <strong>{{ item.shortName }} - {{ item.price | currency }}</strong>
        <br />
        <span class="label-description">{{ item.description }}</span>
      </label>
    </div>
  </div>
</div>

<div
  class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5"
>
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Back to Address
  </button>
  <button class="btn btn-primary" cdkStepperNext>
    Go to Review <i class="fa fa-angle-right"></i>
  </button>
</div>
