<!-- h-100 ensures all titles have the same heigh no matter how many rows stretch -->
<div class="card h-100 shadow-sm">
  <img
    src="{{ product.pictureUrl }}"
    alt="{{ product.name }}"
    class="img-fluid bg-success"
  />
  <div class="card-body d-flex flex-column">
    <a href="#">
      <header class="h6 text-uppercase">{{ product.name }}</header>
    </a>
    <span class="mb-2">{{ product.price | currency }}</span>
    <!-- <p class="card-text">
      {{ product.description }}
    </p> -->

    <div class="btn-group mt-auto" style="width: 100%;">
      <button
        type="button"
        class="btn btn-outline-primary fa fa-shopping-cart mr-2"
      ></button>
      <button type="button" class="btn btn-outline-primary">
        Edit
      </button>
    </div>
  </div>
</div>
