<div class="container">
  <div class="row">
    <section class="col-md-3">
      <header class="text-uppercase text-primary my-3 h4">Sort</header>
      <select class="custom-select mb-3" (change)=onSortSelected($event.target.value)>
        <option *ngFor="let item of sortOptions" [value]="item.value">
          {{ item.name }}
        </option>
      </select>

      <header class="text-uppercase text-primary my-3 h4">Brands</header>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let item of brands"
          [class.active]="item.id === this.brandIdSelected"
          [value]="item.id"
          (click)="onBrandSelected(item.id)"
        >
          {{ item.name }}
        </li>
      </ul>

      <header class="text-uppercase text-primary my-3 h4">Types</header>
      <ul class="list-group" *ngFor="let item of types">
        <li
          class="list-group-item"
          [class.active]="item.id === this.typeIdSelected"
          [value]="item.id"
          (click)="onTypeSelected(item.id)"
        >
          {{ item.name }}
        </li>
      </ul>
    </section>
    <section class="col-md-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
          <span
            >Showing <strong>8</strong> out of
            <strong>16</strong> products</span
          >
        </header>
        <div class="form-inline mt-2">
          <input
            type="text"
            class="form-control mr-2"
            style="width: 300px;"
            placeholder="Search"
          />
          <button class="btn btn-outline-primary my-2 mr-2">Search</button>
          <button class="btn btn-outline-success my-2">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
    </section>
  </div>
</div>
